{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-alias",
      [
        { "src": "./src/components", "expose": "components" },
        { "src": "./src/pages", "expose": "pages" },
        { "src": "./assets", "expose": "assets" },
        { "src": "./src/theme.js", "expose": "theme" },
        { "src": "./src/utils", "expose": "utils" }
      ]
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
