{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "pages": "./src/pages",
          "images": "./src/images",
          "theme": "./src/theme.js",
          "utils": "./src/utils"
        },
        "extensions": [".ios.js", ".android.js", ".js", ".json"]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
