{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["react", "react-native"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "it": false,
    "expect": false,
    "describe": false,
    "require": false
  }
}
