{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": ["react", "react-native"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "jest": false,
    "test": false,
    "it": false,
    "expect": false,
    "describe": false,
    "require": false,
    "global": false,
    "beforeEach": false,
    "shallow": false,
    "module": false,
    "afterEach": false,
    "testSnapshot": false
    "noop": false,
  }
}
